PORT=3000

AZURE_SERVICE_BUS_NAMESPACE=sb-xxxx.servicebus.windows.net
AZURE_STORAGE_ACCOUNT_URL=https://storageaccount.blob.core.windows.net

FILE_QUEUE_NAME=webfilecheck-file-queue
BATCH_QUEUE_NAME=webfilecheck-batch-queue

# Dispatcher message limits
BATCH_TARGET_BYTES=184320
BATCH_HARD_MAX_BYTES=204800
